@font-face {
  font-family:'Kievit Slab';
  font-weight:700;
  src:font-url('KievitSlabWeb-Bold.eot') format('eot'),font-url('KievitSlabWeb-Bold.woff') format('woff');
}

@font-face{
  font-family:'Kievit';
  font-weight:300;
  src:font-url('KievitWeb-Light.eot') format('eot'),font-url('KievitWeb-Light.woff') format('woff')
}

@font-face{
  font-family:'Kievit';
  font-weight:500;
  src:font-url('KievitWeb.woff') format('woff')
}

@font-face{
  font-family:'Kievit';
  font-style:italic;
  font-weight:500;
  src:font-url('KievitWebPro-Ita.woff') format('woff')
}
  
@font-face {
  font-family:'Kievit';
  font-weight:700;
  src:font-url('KievitWeb-Bold.eot') format('eot'),font-url('KievitWeb-Bold.woff') format('woff')
}
  
  