form {
  fieldset {
    legend {
      @include field-header;
    }
  }
  label {
    @include voter-record-label;
    &.radio {
      display: inline-block;
      padding-right: $grid-gutter-width;
      .radio-text {
        display: inline-block;
        padding-top:2px;
        vertical-align: middle;
        padding: 2px 0 0 3px;
      }
      input:checked {
        background: $blue;
        -webkit-appearance: none;
        appearance: none;
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: -2px;
        border-radius: 20px;
        vertical-align: middle;
      }
    }
  }
  input, select {
    outline: none;
  }
  input[type=text], input[type=email], input[type=phone], input[type=date], input[type=password], input[type=tel], select {
    @include voter-record-value;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  input[type=submit] {
    @include button
  }
}