@mixin button {
  background: $blue;
  color: $white;
  width: auto;
  @include border-radius(3px);
  padding: 1rem $grid-gutter-width;
  line-height: 1em;
  display: inline-block;
  margin: 0px auto;
  border: none;  
  text-align: center;
}

@mixin field-header {
  border-top: 1px solid $border-color-light;
  padding-top: 1rem;
  font-family: $header-font-family;
  font-weight: bold;
  color: $header-text-color;    
  font-size: 1rem;
}

@mixin voter-record-label {
  display: block;
  color: $text-color;
  margin-top: 1em;  
  padding-bottom: .5em;
}

@mixin voter-record-value {
  display: block;
  border: none;
  background: $background-color;
  width: 100%;    
  padding: 5px;
}