$black: #000;
$dark-gray: rgb(120, 120, 120);
$light-gray: rgb(241,241,241);
$white: #FFF;
$blue: rgb(83,154,220);

$header-font-family: serif;
$font-family: sans-serif;


$background-color: $light-gray;
$text-color: $dark-gray;
$header-text-color: $black;
$border-color: $dark-gray;

$thick-line-height: 8px;